<html ng-app ng-csp>
  <head>
    <script src="angular.min.js"></script>

    <script type="text/javascript">

    function TodoCtrl($scope) {
      $scope.todos = [
        {text:'learn angular', done:true},
        {text:'build an angular Chrome packaged app', done:false}];

      $scope.doneTodos = $scope.todos.filter(function(x){return x.done})

      $scope.addTodo = function() {
          $scope.todos.push({text:$scope.todoText, done:false});
          $scope.todoText = '';
        };

      $scope.remaining = function() {
          var count = 0;
          angular.forEach($scope.todos, function(todo) {
            count += todo.done ? 0 : 1;
          });
          return count;
        };

      $scope.archive = function() {
          var oldTodos = $scope.todos;
          $scope.todos = [];
          angular.forEach(oldTodos, function(todo) {
            if (!todo.done) $scope.todos.push(todo);
          });
        };
    }
    </script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>

    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
      <span>{{doneTodos.length}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>
    