<html ng-app ng-csp>
  <head>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="upnp.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>DLNA</h2>
    <div ng-controller="DeviceCtrl">
      <span>{{ deviceNum() }} devices. </span>
      [ <a href="" ng-click="scan()">Scan</a> ]
      <ul>
        <li ng-repeat="(loc, device) in devices">
          <a target="_blank" href="{{loc}}"><span title="{{device.server}}">{{device.addr}}</span></a>
        </li>
      </ul>
    </div>

  </body>
</html>
    