<html ng-app ng-csp>
  <head>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>DLNA</h2>
    <div ng-controller="DeviceCtrl">
      <span>{{devices.length}} devices. </span>
      [ <a href="" ng-click="scan()">Scan</a> ]
      <ul>
        <li ng-repeat="device in devices">
          <span>{{device.server}}</span>
        </li>
      </ul>
    </div>

    <script src="upnp.js"></script>
  </body>
</html>
    